@use 'variables';
@use 'typography';

.responsive-image {
  max-width: 100%;
  height: auto;
}

.century-button {
  text-decoration: none;

  border-radius: 5px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  background-color: $orange;

  border: 1px solid $orange;

  text-transform: uppercase;

  color: $white;
  font-weight: 700;

  padding: 1.5625rem 1.875rem;

  font-size: 1.5625rem;

  &:hover {
    background-color: rgba(238, 113, 46, 0.8);
    border: 1px solid transparent;
    transition: all ease .2s;
  }

  &[type="submit"] {
    width: 30%;
    background-color: $orange;
    color: $white;
    margin-left: auto;
    font-weight: 700;
    font-size: 1.5625rem;
  }

  &.outlined {
    background-color: transparent;
    border: 1px solid $white;

    &:hover {
      filter: unset;
      color: $orange;
      border: 1px solid $orange;
    }
  }

  @media (max-width: 768px) {
    padding: 2rem 1.875rem;

    &[type="submit"] {
      width: 100%;
    }
  }
}

.century-form {

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }

  input,
  textarea {
    border: 1px solid $blue-500;
    border-radius: 5px;

    width: 100%;

    color: $blue-500;
    line-height: 40px !important;

    background-color: $white;

    @include font(500, $lg);

    padding: 1.25rem;

    &::placeholder {
      color: $blue-500;
    }

    &:focus-visible,
    &:focus {
      outline: 1px solid $black;
    }
  }

  @media (max-width: 768px) {
    .row {
      gap: 2rem;
    }
  }
}

.product-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;

  background-color: $white;
  padding: 0.625rem;
  border-radius: $md;

  filter: drop-shadow(0px 25px 25px rgba(0, 88, 130, 0.60));

  .product-card-asset {
    max-width: 252px;
    max-height: 202px;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
      @extend .responsive-image;
      border-radius: 6px;
    }
  }

  .product-card-content {
    font-size: $md;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.54px;

    text-align: center;
    text-transform: uppercase;

    a {
      text-decoration: none;
      color: inherit;

      &:hover {
        filter: brightness(0.7);
        transition: all ease 0.2s;
      }
    }

    @media(min-width: 768px) and (max-width: 1366px) {
      font-size: $default;
    }

  }

  @media(max-width: 768px) {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
  }
}

.icon-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 1rem;

  padding: 0.625rem;

  .icon-card-asset {
    min-width: 176px;
    min-height: 176px;
    max-width: 229px;
    max-height: 229px;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
      @extend .responsive-image;
    }
  }

  .icon-card-content {
    color: $white;
    font-size: $md;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.54px;

    text-align: center;
    text-transform: uppercase;

    @media(min-width: 768px) and (max-width: 1366px) {
      font-size: $default;
    }

  }

  p {
    font-size: $md;
  }

  @media(max-width: 768px) {
    .icon-card-content {
      font-size: 1.875rem;
      line-height: 40px;
      padding: 0 2rem;
    }
  }
}

.maps {
  overflow: hidden;
  padding-bottom: 30%;
  position: relative;
  height: 0;

  & iframe {
    position: absolute;
    left: 0;
    top: 0;

    height: 100%;
    width: 100%;
  }

  & span {
    background: rgba(12, 32, 41, 0.70);

    width: 100%;

    padding: 1rem 2rem;

    display: flex;
    justify-content: center;

    position: absolute;
    bottom: 0;
    z-index: 1;

    color: $white;
    font-size: 1.375rem;
    font-weight: 700;

    text-align: center;
  }

  @media (max-width: 768px) {
    padding-bottom: 100%;

    & span {
      font-size: $md;
    }
  }
}

.contact {
  display: flex;

  ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    padding: 0;
    flex-direction: column;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  @media (max-width: 768px) {
    ul {
      flex-direction: column;
    }
  }
}

.talk-us {
  display: flex;
  flex-direction: column;

  text-align: center;

  overflow: hidden;

  flex: 1;

  .video-lightbox {
    // background-color: $blue-500;
    background: linear-gradient(rgba(12, 32, 41, 0.7),
        rgba(12, 32, 41, 0.7)), url(../../images/video.webp);
    color: $white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    padding: $size-xxl;

    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    cursor: pointer;
    transition: all ease .2s;

    span {
      font-size: $lg;
      font-weight: 700;
      line-height: 35px;
    }


    &:hover {
      img {
        transform: scale(1.1);
        transition: all ease .2s;

      }
    }
  }

  .contact-info {
    border-left: 2px solid $blue-500;
    border-bottom: 2px solid $blue-500;
    border-right: 2px solid $blue-500;


    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    padding: $size-lg $size-xxl;

    .heading {
      @extend .heading;
      color: $blue-500;
    }

    a {
      text-decoration: none;
      color: $blue-500;

      &:hover {
        filter: brightness(0.7);
      }
    }

    .link-with-icon {
      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: center;

      img {
        width: 32px;
        height: 32px;
      }

      transition: all ease .2s;


      &:hover {
        text-decoration: underline;
        transition: all ease .2s;

        img {
          transform: scale(1.1);
        }
      }

      @media (max-width:768px) {
        flex-direction: column;
      }
    }

    .social {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.875rem;

      margin-top: 1rem;

      img {
        width: 34px;
        height: 34px;
      }

      @media (max-width: 768px) {
        gap: 2rem;
      }
    }

    strong {
      font-size: 1.375rem;
    }

  }
}

// .carousel-cards.slick-initialized {
//   .icon-card {
//     width: 85%;
//     margin: 0 auto;

//   }

//   @media (max-width: 576px) {
//     .icon-card {
//       width: 60%;
//       margin: 0 auto;
//     }
//   }

//   @media (min-width: 768px) {
//     .slick-prev {
//       left: -40px;
//     }

//     .slick-next {
//       right: -40px;
//     }
//   }
// }