@use 'variables';

.banner-heading {
  color: $orange;
  letter-spacing: -2.4px;
  text-transform: uppercase;

  @media(max-width: 768px) {
    letter-spacing: -1.8px;
  }
}

.section-heading {
  @include font-title($h-lg);
  color: $orange;
  letter-spacing: -1.5px;
  text-transform: uppercase;
  line-height: 60px;

  @media (max-width: 768px) {
    @include font-title(1.875rem);
    line-height: 40px;
  }
}

.heading {
  @include font-title(1.875rem);
  color: white;
  text-transform: uppercase;
  line-height: 40px;
}