@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

//Colors
$white: #FFFFFF;
$black: #000000;
$blue-500: #005882;
$orange: #ee722e;

//font-sizes
$default: 1rem;
$md: 1.125rem;
$lg: 1.25rem;
$xl: 1.5rem;
$h-default: 2rem;
$h-md: 2.5rem;
$h-lg: 3.125rem;
$h-xl: 4.375rem;

// sizes
$size-xsm: 0.5rem;
$size-sm: 0.75rem;
$size-md: 1rem;
$size-lg: 2rem;
$size-xl: 3rem;
$size-xxl: 3.75rem;


@mixin font($weight: 500, $size: $default) {
  font: normal $weight $size 'Montserrat', sans-serif;
}

@mixin font-title($size: $h-default) {
  font: normal 700 $size 'Montserrat', sans-serif;
}